<!DOCTYPE html>
<html>
<head>
  <title>tenderfoot | an interactive news app for kids</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="side-nav">
  <h1>Child's second first step to discovering the world</h1>
  <p class="navDescription">
    "●"
    <br>
    "Kids spend an average of 6.5 hours a day in front of screens, which leads parents to worry about their social and cultural development."
    <br>
    <br>
    "Tenderfoot is a interactive, multifunctional news app that will connect your child to her surroundings."
  </p>
</div>



    <div class="banner">
    <ul>
        <li><%= image_tag "innovationcloud.png", class: 'img-responsive' %></li>
        <li><%= image_tag "adoptly.png", class: 'img-responsive' %></li>
        <li><%= image_tag "junction.png", class: 'img-responsive'%></li>
    </ul>
</div>

<%= yield %>




</body>
</html>
